/* ========== Google Fonts =========== */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");
/* ========== CSS Variables =========== */
:root {
  --primary-color: #ff5e3a;
  --default-color: #4f5665;
  --light_pink-color: #f8f0ea;
  --black-color: #000;
  --grey-color: #f0f0f0;
  --white-color: #fff;
  --lightpink: #ffcce0;
  --light-primary:#8c71db;
  --blue: #1a1aff;
  --custom: #1a1aff;
  --color: #4d4d4d;
  --lightblue: #ccccff;
  --box-shadow-1: 0 5px 15px rgba(0, 0, 0, 0.1);
  --box-shadow-2: 0 5px 15px rgba(255, 94, 58, 0.2);
  --gradient: linear-gradient(to bottom, #fccb90, #ff9a9e);
  --btn-gradient: linear-gradient(to bottom, #ff5151 50%, #ff5e3a);
  --color-secondary: #ff497c;
}

*,
*::after,
*::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  background-color: var(--white-color);
}

h1,
h2,
h3,
h4 {
  color: var(--black-color);
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style-type: none;
}

section {
  padding: 5rem 0 5rem;
  overflow: hidden;
}

p {
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

/*=========== atributive ===============*/
.sky-blue i {
  color: rgb(56, 189, 248);
}
.sky-blue input[type=radio]:checked ~ label {
  background-color: rgb(56, 189, 248);
}
.sky-blue input[type=radio]:checked ~ label i {
  color: white;
}

.green i {
  color: rgb(74, 222, 128);
}
.green input[type=radio]:checked ~ label {
  background-color: rgb(74, 222, 128);
}
.green input[type=radio]:checked ~ label i {
  color: white;
}

.orange i {
  color: rgb(251, 146, 60);
}
.orange input[type=radio]:checked ~ label {
  background-color: rgb(251, 146, 60);
}
.orange input[type=radio]:checked ~ label i {
  color: white;
}

.red i {
  color: var(--color-secondary);
}
.red input[type=radio]:checked ~ label {
  background-color: var(--color-secondary);
}
.red input[type=radio]:checked ~ label i {
  color: white;
}

.Yellow i {
  color: rgb(250, 204, 21);
}
.Yellow input[type=radio]:checked ~ label {
  background-color: rgb(250, 204, 21);
}
.Yellow input[type=radio]:checked ~ label i {
  color: white;
}

.violet i {
  color: rgb(139, 92, 246);
}
.violet input[type=radio]:checked ~ label {
  background-color: rgb(139, 92, 246);
}
.violet input[type=radio]:checked ~ label i {
  color: white;
}

.pink i {
  color: #FFB6C1;
}
.pink input[type=radio]:checked ~ label {
  background-color: #FFB6C1;
}
.pink input[type=radio]:checked ~ label i {
  color: white;
}

/* ========== Custom Classes =========== */
.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
}

@media (min-width: 1600px) {
  .container {
    max-width: 160rem;
  }
}
@media (max-width: 567px) {
  .container {
    padding: 0 1rem;
  }
}
.d-flex {
  display: flex;
  align-items: center;
}

/* ========== Header =========== */
.navbar {
  padding: 2rem 0;
  z-index: 1;
}
.navbar .row {
  justify-content: space-between;
}
.navbar .row .nav-list a {
  display: inline-block;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--black-color);
}
.navbar .row .nav-list a.user-link {
  display: none;
}
.navbar .row .nav-list a:not(:last-child) {
  margin-right: 0.5rem;
}
.navbar .row .nav-list a:hover {
  color: var(--primary-color);
}
.navbar .row .icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.navbar .row .icons .icon {
  width: 50px;
  height: 50px;
  color: var(--black-color);
  cursor: pointer;
  justify-content: center;
  position: relative;
  border-radius: 999px;
}
.navbar .row .icons .icon .click-icon {
  width: 100%;
  height: 100%;
  background: none;
  font-size: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar .row .icons .icon .profile {
  display: none;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
  position: absolute;
  padding: 2.5rem 2rem;
  margin-top: 13px;
  top: 60px;
  border-radius: 1.5rem;
  max-width: 260px;
  width: 100vw;
  right: 0;
  background-color: white;
}
.navbar .row .icons .icon .profile .border-profile {
  overflow: hidden;
}
.navbar .row .icons .icon .profile .profile-content {
  display: grid;
  gap: 2rem;
}
.navbar .row .icons .icon .profile .profile-content .info {
  display: flex;
  align-items: center;
}
.navbar .row .icons .icon .profile .profile-content .info .avatar {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 999px;
  margin-right: 10px;
}
.navbar .row .icons .icon .profile .profile-content .info .avatar img {
  object-fit: cover;
  border-radius: 999px;
}
.navbar .row .icons .icon .profile .profile-content .info .info-content h4 {
  width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}
.navbar .row .icons .icon .profile .profile-content .info .info-content p {
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
  line-height: 1.5rem;
  font-size: 1.3rem;
}
.navbar .row .icons .icon .profile .profile-content .border {
  display: block;
  width: 100%;
  border-bottom-width: 1px;
  box-sizing: border-box;
  border: 0.1px solid #e5e7eb;
  background-color: rgb(229, 231, 235);
}
.navbar .row .icons .icon .profile .profile-content a {
  display: flex;
  align-items: center;
  padding: 1rem;
}
.navbar .row .icons .icon .profile .profile-content a p {
  margin-left: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 1.25rem;
}
.navbar .row .icons .icon .profile .profile-content a:hover {
  background-color: #f4f4f4;
}
.navbar .row .icons .icon span {
  display: block;
  width: 1rem;
  height: 1rem;
  background-color: var(--primary-color);
  border: 1px solid var(--black-color);
  position: absolute;
  top: 0.3rem;
  right: 0.4rem;
  border-radius: 50%;
}
.navbar .row .icons .icon:hover {
  background-color: #f4f4f4;
}
.navbar .hamburger,
.navbar .close {
  display: none;
}

.sticky {
  top: 0;
  position: sticky;
  background-color: white;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
}

.header {
  margin-bottom: 4rem;
  /* ========== Navigation =========== */
}
.header-banner .container {
  padding: 0;
}
.header-banner .row {
  background-color: var(--light_pink-color);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 700px;
}
.header-banner .row .col {
  padding: 50px;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.header-banner .row .col .content span {
  font-size: 3rem;
  margin-bottom: 10px;
}
.header-banner .row .col .content h1 {
  font-size: 8rem;
  line-height: 1;
  margin-bottom: 20px;
}
.header-banner .row .col .btn button {
  font-size: 2rem;
  padding: 15px;
  color: white;
  background-color: #000;
  border-radius: 50px;
}
.header-banner .row .image {
  flex: 1;
  display: flex;
  align-items: end;
}
.header-banner .row .image img {
  width: 100%;
  right: 0;
  bottom: 0;
}

.main {
  margin-bottom: 2rem;
}
.main .category {
  margin-bottom: 60px;
}
.main .category .section-title_wapper {
  margin-bottom: 20px;
  padding-right: 110px;
}
.main .category .section-title_wapper span {
  display: flex;
  align-items: center;
  color: var(--color-secondary);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
.main .category .section-title_wapper span i {
  margin-right: 5px;
}
.main .category .section-title_wapper h2 {
  font-weight: 700;
}
.main .category .click-slider {
  position: relative;
}
.main .category .click-slider .click-list {
  width: 100%;
}
.main .category .click-slider .click-list .click-track {
  display: grid;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  grid-auto-columns: calc(14.2857142857% - 26px);
  gap: 30px;
  scroll-behavior: smooth;
}
.main .category .click-slider .click-list .click-track .click-slide {
  scroll-snap-align: start;
  height: 159px;
  border: 1px solid #f0f0f0;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main .category .click-slider .click-list .click-track .click-slide img {
  transition: 0.3s;
  height: 64px;
  margin: 10px;
}
.main .category .click-slider .click-list .click-track .click-slide h6 {
  text-align: center;
  width: 90%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #292930;
  font-family: "DM Sans", sans-serif;
}
.main .category .click-slider .click-list .click-track .click-slide:hover img {
  transform: scale(1.2);
}
.main .category .click-slider .click-list .click-track::-webkit-scrollbar {
  display: none;
}
.main .category .click-slider .click-list .dragging {
  scroll-behavior: auto;
}
.main .category .click-slider .click-list .dragging .click-slide {
  cursor: grab;
  user-select: none;
}
.main .category .click-slider .click-list .dragging .click-slide a {
  user-select: none;
}
.main .category .click-slider .click-next {
  transform: translateY(-50%);
  right: 0;
  top: -40px;
  position: absolute;
}
.main .category .click-slider .click-next .click-disable {
  opacity: 0.4;
}
.main .category .click-slider .click-next .slider-arrow {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #f6f7fb;
  color: #777;
  border-radius: 4px;
}

@media (min-width: 1600px) {
  .navbar {
    padding: 2.3rem 0;
  }
}
@media (max-width: 768px) {
  .navbar .row {
    z-index: 1000;
  }
  .navbar .row .nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 50%;
    max-width: 35rem;
    height: 100%;
    background-color: var(--white-color);
    z-index: 1000;
    flex-direction: column;
    align-items: flex-start;
    padding: 4rem 1rem;
    transition: 0.5s;
  }
  .navbar .row .nav-list a {
    font-size: 1.8rem;
  }
  .navbar .row .nav-list a:not(:last-child) {
    margin: 0 0 1rem 0;
  }
  .navbar .row .nav-list .close {
    display: block;
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    color: var(--black-color);
    font-size: 3rem;
  }
  .navbar .row .nav-list.show {
    right: 0;
  }
  .navbar .row .hamburger {
    display: block;
    font-size: 3rem;
    color: var(--black-color);
  }
  .navbar .row .icons .icon .profile {
    right: -200px;
  }
  .navbar .closeMark {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
  }
  .header-banner .row {
    height: auto;
    flex-direction: column;
  }
  .header-banner .row .col .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-banner .row .col .content h1 {
    text-align: center;
  }
  .main .no-border .click-slider .click-list .click-track {
    grid-auto-columns: calc(33.3333333333% - 26px);
  }
}
main .products .section-title_wapper {
  margin-bottom: 20px;
  padding-right: 110px;
}
main .products .section-title_wapper span {
  display: flex;
  align-items: center;
  color: var(--light-primary);
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
}
main .products .section-title_wapper span i {
  margin-right: 5px;
}
main .products .section-title_wapper h2 {
  font-weight: 700;
}
main .products .product-list .product-track {
  display: flex;
  flex-wrap: wrap;
}
main .products .product-list .product-track form {
  display: block;
  width: 25%;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding: 0 15px;
}
main .products .product-list .product-track form .product-card {
  display: flex;
  flex-direction: column;
}
main .products .product-list .product-track form .product-card .product-thumbnail {
  object-fit: cover;
  position: relative;
  overflow: hidden;
  background-color: rgb(248, 250, 252);
  border-radius: 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
}
main .products .product-list .product-track form .product-card .product-thumbnail a {
  position: absolute;
  inset: 0;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action {
  transition: 0.3s;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .select-option {
  box-shadow: 2px 8px 40px rgba(0, 0, 0, 0.08);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  width: 40px;
  height: 40px;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .select-option:hover {
  background-color: #000;
  color: white;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .no-atributive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .no-atributive span {
  font-size: 1.3rem;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .no-atributive i {
  margin-right: 10px;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .add-cart {
  background-color: black;
  color: white;
}
main .products .product-list .product-track form .product-card .product-thumbnail .action .quick-view {
  background-color: white;
}
main .products .product-list .product-track form .product-card .product-thumbnail img {
  width: 100%;
}
main .products .product-list .product-track form .product-card .product-thumbnail:hover .action {
  bottom: 20px;
}
main .products .product-list .product-track form .product-card .show-info .variant {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
main .products .product-list .product-track form .product-card .show-info .variant .border-atributive .atributive {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 1rem;
}
main .products .product-list .product-track form .product-card .show-info .variant .border-atributive .atributive i {
  font-size: 23px;
}
main .products .product-list .product-track form .product-card .show-info .variant .border-atributive input[type=radio] {
  display: none;
}
main .products .product-list .product-track form .product-card .show-info .product-content {
  margin-bottom: 15px;
}
main .products .product-list .product-track form .product-card .show-info .product-content h2 {
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.7rem;
}
main .products .product-list .product-track form .product-card .show-info .product-content p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(100, 116, 139);
  font-size: 1.5rem;
}
main .products .product-list .product-track form .product-card .show-info .product-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .products .product-list .product-track form .product-card .show-info .product-status .price {
  padding: 0.4rem 1.3rem;
  color: rgb(34, 197, 94);
  border-radius: 1rem;
  border: 2px solid rgb(34, 197, 94);
  font-weight: 500;
}
main .products .product-list .product-track form .product-card .show-info .product-status .rating {
  display: flex;
  justify-self: center;
  align-items: center;
}
main .products .product-list .product-track form .product-card .show-info .product-status .rating i {
  margin-right: 5px;
  color: rgb(250, 204, 21);
}
main .products .product-list .product-track form .product-card .show-info .product-status .rating span {
  color: rgb(100, 116, 139);
}

@media (max-width: 1600px) {
  main .products .product-list .product-track form {
    width: 50%;
  }
}
@media (max-width: 690px) {
  main .products .product-list .product-track form {
    width: 100%;
  }
}
.footer {
  background-color: rgba(252, 203, 144, 0.15);
  padding: 10rem 3rem 10rem;
  margin-top: 7rem;
}
.footer .row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 3rem;
}
.footer .row .col .logo {
  margin-bottom: 2.5rem;
}
.footer .row .col:first-child p {
  margin-bottom: 2rem;
  color: #4f5665;
  font-size: 1.7rem;
}
.footer .row .col .icons {
  margin-bottom: 2rem;
}
.footer .row .col .icon {
  color: var(--white-color);
  justify-content: center;
  height: 4rem;
  width: 4rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  cursor: pointer;
}
.footer .row .col .icon:not(:last-child) {
  margin-right: 1rem;
}
.footer .row .col:first-child .color {
  color: var(--primary-color);
}
.footer .row .col:last-child {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.footer .row .col:last-child div {
  display: flex;
  flex-direction: column;
}
.footer .row .col:last-child div a {
  font-size: 1.7rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  color: #4f5665;
}
.footer .row .col:last-child h4 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
}
.footer .row .col:last-child .d-flex {
  flex-direction: row;
  margin-bottom: 2rem;
}
.footer .row .col:last-child .d-flex .icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  width: auto;
  height: auto;
  padding: 0.7rem;
}
.footer .row .col:last-child .d-flex span {
  font-size: 1.8rem;
  color: #4f5665;
}

@media (max-width: 1200px) {
  .footer .col:first-child {
    display: none;
  }
  .footer .row {
    display: block;
  }
}
@media (max-width: 768px) {
  .footer .row .col:last-child {
    grid-template-columns: 1fr;
    gap: 3rem 0;
  }
}
.detail-product {
  margin-top: 50px;
}
.detail-product .main-detail {
  display: flex;
  flex-wrap: wrap;
}
.detail-product .main-detail .thumbnail-product {
  flex-basis: 55%;
}
.detail-product .main-detail .thumbnail-product .detail-thumbnail_product {
  width: 100%;
}
.detail-product .main-detail .thumbnail-product .detail-thumbnail_product img {
  border-radius: 2rem;
  width: 100%;
}
.detail-product .main-detail .info-product {
  flex-basis: 45%;
  padding: 20px;
}
.detail-product .main-detail .info-product .detail-info_product .name-product h2 {
  line-height: 3.5rem;
  font-size: 3rem;
  font-weight: 600;
}
.detail-product .main-detail .info-product .detail-info_product .price_product {
  display: flex;
  align-items: center;
  margin-top: 20px;
  gap: 20px;
}
.detail-product .main-detail .info-product .detail-info_product .price_product .price {
  padding: 0.4rem 1.3rem;
  color: rgb(34, 197, 94);
  border-radius: 1rem;
  border: 2px solid rgb(34, 197, 94);
  font-weight: 500;
}
.detail-product .main-detail .info-product .detail-info_product .price_product .space {
  border-left-width: 1px;
  height: 3rem;
  box-sizing: border-box;
  border: 1px solid #e5e7eb;
}
.detail-product .main-detail .info-product .detail-info_product .price_product .raiting {
  display: flex;
  align-items: center;
  gap: 10px;
}
.detail-product .main-detail .info-product .detail-info_product .price_product .raiting i {
  margin-bottom: 2px;
  color: rgb(250, 204, 21);
}
.detail-product .main-detail .info-product .detail-info_product .price_product .raiting .detail-raiting {
  display: flex;
  align-items: center;
  gap: 5px;
}
.detail-product .main-detail .info-product .detail-info_product .variant {
  margin-top: 30px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .color .name-atributive span {
  font-weight: 500;
}
.detail-product .main-detail .info-product .detail-info_product .variant .color .atributive-color {
  margin-top: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .color .atributive-color .border-atributive .atributive {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 1rem;
}
.detail-product .main-detail .info-product .detail-info_product .variant .color .atributive-color .border-atributive .atributive i {
  font-size: 23px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .color .atributive-color .border-atributive input[type=radio] {
  display: none;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size {
  margin-top: 20px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size .name-atributive span {
  font-weight: 500;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size .atributive-size {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size .atributive-size .border-atributive_size label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 80px;
  border-radius: 1rem;
  border: 1px solid #e5e7eb;
  font-weight: 500;
  text-transform: uppercase;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size .atributive-size .border-atributive_size input[type=radio] {
  display: none;
}
.detail-product .main-detail .info-product .detail-info_product .variant .size .atributive-size .border-atributive_size input[type=radio]:checked ~ label {
  background-color: #e5e7eb;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  height: 50px;
  background-color: rgba(241, 245, 249, 0.7);
  border-radius: 3rem;
  padding: 1rem 0.4rem;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control .quantity-btn {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  padding: 0px 8px;
  cursor: pointer;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control .quantity-btn svg {
  width: 15px;
  height: 15px;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control .quantity-input {
  outline: none;
  user-select: none;
  text-align: center;
  width: 47px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control .quantity-input::-webkit-inner-spin-button,
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .quantity-control .quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .add-cart {
  margin-left: 20px;
  border-radius: 3rem;
  padding: 2rem 0;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  background-color: rgb(15, 23, 42);
  color: white;
}
.detail-product .main-detail .info-product .detail-info_product .variant .order-shopping .add-cart i {
  margin-right: 13px;
}
.detail-product .main-detail .info-product .border {
  border-bottom-width: 1px;
  border: 1px solid #e5e7eb;
  margin: 50px 0;
}
.detail-product .main-detail .info-product .description h3 {
  font-weight: 600;
}
.detail-product .main-detail .info-product .description p {
  color: rgb(71, 85, 105);
}
.detail-product .same-product {
  margin-top: 64px;
  position: relative;
}
.detail-product .same-product .title {
  padding: 20px 0;
  font-weight: 700;
  padding-right: 100px;
}
.detail-product .same-product .products-slider .click-next {
  right: 0;
  transform: translateY(50%);
  top: -20px;
  position: absolute;
}
.detail-product .same-product .products-slider .click-next .click-disable {
  opacity: 0.4;
}
.detail-product .same-product .products-slider .click-next .slider-arrow {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: #f6f7fb;
  color: #777;
  border-radius: 4px;
}
.detail-product .same-product .products-slider .product-list .product-track {
  display: grid;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  grid-auto-flow: column;
  grid-auto-columns: calc(33.3333333333% - 15px);
  gap: 30px;
  scroll-behavior: smooth;
}
.detail-product .same-product .products-slider .product-list .product-track form {
  scroll-snap-align: start;
  display: block;
  box-sizing: border-box;
  margin-bottom: 50px;
  padding: 0 15px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card {
  display: flex;
  flex-direction: column;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail {
  user-select: none;
  object-fit: cover;
  position: relative;
  overflow: hidden;
  background-color: rgb(248, 250, 252);
  border-radius: 1.5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail a {
  position: absolute;
  inset: 0;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action {
  transition: 0.3s;
  cursor: pointer;
  left: 50%;
  transform: translateX(-50%);
  bottom: -50px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .select-option {
  box-shadow: 2px 8px 40px rgba(0, 0, 0, 0.08);
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 1rem;
  width: 40px;
  height: 40px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .select-option:hover {
  background-color: #000;
  color: white;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .no-atributive {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.9rem 1.5rem;
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0), 0 0 rgba(0, 0, 0, 0);
  border-radius: 1.5rem;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .no-atributive span {
  font-size: 1.3rem;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .no-atributive i {
  margin-right: 10px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .add-cart {
  background-color: black;
  color: white;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail .action .quick-view {
  background-color: white;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail img {
  width: 100%;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .product-thumbnail:hover .action {
  bottom: 20px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .variant {
  overflow: hidden;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  margin-bottom: 15px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .variant .border-atributive .atributive {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 30px;
  border-radius: 1rem;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .variant .border-atributive .atributive i {
  font-size: 23px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .variant .border-atributive input[type=radio] {
  display: none;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-content {
  margin-bottom: 15px;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-content h2 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
  font-size: 1.7rem;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-content p {
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(100, 116, 139);
  font-size: 1.5rem;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-status .price {
  padding: 0.4rem 1.3rem;
  color: rgb(34, 197, 94);
  border-radius: 1rem;
  border: 2px solid rgb(34, 197, 94);
  font-weight: 500;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-status .rating {
  display: flex;
  justify-self: center;
  align-items: center;
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-status .rating i {
  margin-right: 5px;
  color: rgb(250, 204, 21);
}
.detail-product .same-product .products-slider .product-list .product-track form .product-card .show-info .product-status .rating span {
  color: rgb(100, 116, 139);
}

@media (max-width: 1600px) {
  .detail-product .main-detail .thumbnail-product {
    flex-basis: 100%;
  }
  .detail-product .main-detail .info-product {
    flex-basis: 100%;
  }
  .detail-product .same-product .products-slider .product-list .product-track {
    grid-auto-columns: calc(50% - 10px);
  }
}
@media (max-width: 768px) {
  .detail-product .same-product .products-slider .product-list .product-track {
    grid-auto-columns: calc(100% - 0px);
  }
}

/*# sourceMappingURL=style.css.map */
